<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>customers</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Botón mediante typescript-->
<ion-content [fullscreen]="true">

  <ion-list *ngIf="permission">
    <ion-item *ngFor="let user of users"> <!--detailattributegivethearrowtoitem-->
      <ion-avatar slot="start"> <!--slot="start"attributepositionstheavatartostart-->
        <img src="{{user.image}}">
      </ion-avatar>
      <ion-label>
        <h2 class="colorBlue">{{user.name}}</h2>
          <p>{{user.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-label *ngIf="!permission">No tienes permisos para ver los clientes</ion-label>
</ion-content>

